.rout{
	width: 1000px;
	height: 180px;
	margin: 60px 0 0 300px;
	display: flex;
	background-color: #eeeeee;
}

.rout-img1,.rout-img2,.rout-img3{
	min-width: 30%;
	vertical-align: top;
	padding: 0;
	margin-left: 0;
	height: 100%;
	background-color: #CAF0D3;
	display: inline-block;
	overflow: hidden;
	background-size: cover;
}

.rout-img1{
	margin-left: 0;
	background-image: url(../img/huanghelou.jpg);
}

.rout-img2{
	margin-left: 30px;
	background-image: url(../img/donghu.jpg);
}

.rout-img3{
	margin-left: 30px;
	background-image: url(../img/hust.jpg);
}

.rout p{
	font-size: 30px;
	margin: auto;
}