<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 该文件编写mybatis中的mapper接口里面的方法提供对应的sql语句 -->
<mapper namespace="com.cxtx.account.AccountMapper">
    <!--加入一个新帐号-->
    <insert id="insertAccount" parameterType="com.cxtx.account.Account">
        INSERT INTO
        account (
        account_username,
        account_password,
        user_id)
        VALUES (
        #{userName},
        #{passWord},
        #{user_id})
    </insert>
    <!--根据帐号密码查找帐号-->
    <select id="selectAccount" parameterType="java.lang.String" resultMap="accountMap">
        SELECT
        account_username,account_password,user_id
        FROM account
        WHERE account_username = #{userName} AND account_password = #{passWord}
    </select>
    <!--更新帐号密码-->
    <update id="updatePassWord">
        UPDATE
        account
        SET
        account_password = #{passWord}
        WHERE
        account_id = #{account_id}
    </update>

    <!--根据用户ID查找帐号-->
    <select id="selectAccountByUserId"  parameterType="java.lang.Integer">
        SELECT
        *
        FROM
        account
        WHERE
        user_id = #{user_id};
    </select>

    <select id="selectAccountByUserName" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT account_username userName
        FROM
        account
        WHERE
        account_username = #{userName}
        LIMIT
        1
    </select>

    <resultMap id="accountMap" type="com.cxtx.account.Account">
        <id property="id" column="account_id"></id>
        <result property="userName" column="account_username"></result>
        <result property="passWord" column="account_password"></result>
        <result property="user_id" column="user_id"></result>
    </resultMap>

</mapper>