<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 该文件编写mybatis中的mapper接口里面的方法提供对应的sql语句 -->
<mapper namespace="com.cxtx.account.mapper.AccountMapper">

    <insert id="insertAccount" parameterType="com.cxtx.account.pojo.Account">
        INSERT INTO account VALUES (0, #{userName}, #{passWord})
    </insert>

    <select id="selectAccount" parameterType="java.lang.String" resultMap="accountMap" >
        SELECT id,userName,passWord FROM account WHERE userName = #{userName} AND passWord = #{passWord}
    </select>

    <resultMap id="accountMap" type="com.cxtx.account.pojo.Account">
        <id property="userName" column="userName"></id>
        <result property="passWord" column="passWord"></result>
        <result property="user_id" column="user_id"></result>
    </resultMap>

</mapper>